
<head>
	<title> Welcome to Pulse </title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<script type="text/javascript">
  var imageURLs = [
       "{{=URL('static','images/Serena.jpg')}}"
     , "{{=URL('static','images/kobe.jpg')}}"
     , "{{=URL('static','images/Salah.jpg')}}"
     , "{{=URL('static','images/Curry.jpg')}}"
  ];
  function getImageTag() {
    var img = '<img class = "d-block w-100" src=\"';
    var randomIndex = Math.floor(Math.random() * imageURLs.length);
    img += imageURLs[randomIndex];
    img += '\" alt=\"Alt\"/>';
    return img;
  }
</script>

</head>
<body>
	<nav class="navbar navbar-dark" style="background-color: #000000;">
  	<a class="navbar-brand" href="">
    <img src="{{=URL('static','images/pulse_small.png')}}" width="60" height="60" class="d-inline-block align-top" alt="">
  	</a>
  	<div>
      <a href = "{{=URL('default/user', 'login')}}"><button type="button" class="btn btn-dark navbar-btn">Log in</button></a>
	</div>

	</nav>

<script>
$('.carousel').carousel({
  interval: 2000
})
</script>
<div id="carouselExampleSlidesOnly" class="carousel slide">
  <script type="text/javascript">
  document.write(getImageTag());
</script>
  </div>


</div>
	
<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"> </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>