a {color:#831518}
a:not(.btn):not(.noeffect):hover {color:#26a69a}
a:not(.btn):not(.noeffect):after {background-color:#26a69a}
.btn, button, [type=button], {background-color:#831518; color:white}
.btn, button, [type=submit] { background-color: #831518; color:white; -moz-border-radius:5px; border-radius:5px }
.submit, button { background-color: #831518; color:white}
.progress .determinate {background-color:#26a69a}
.progress .indeterminate {background-color:#26a69a}
.tags > span {background-color: #831518}
.tags.dismissible > span.off:hover {background-color:#26a69a}
